torch
torchvision
torchaudio
numpy
pandas
scipy
scikit-learn
xgboost
joblib
pillow
tqdm
opencv-python-headless
facenet-pytorch
timm
transformers
accelerate
mediapipe
fastapi
uvicorn[standard]
python-multipart
streamlit
requests
gdown
matplotlib
seaborn
